<div class="jumbotron">
  <h1 class="display-3">I'm Varios!</h1>
  <p class="lead">Varios is a simpler and easier way to schedule posts, and manage all your accounts in one place</p>
    <%= link_to 'Sign in for free', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
